build/**
dist/**
__pycache__/**
**/__pycache__/**
yaml/__pycache__/**
packlib/__pycache__/**
app.exe
VM/addons/**
VM/mpmissions/loader.vr.pbo
VM/preload/**
VM/src/**
VM/cmp.exe
VM/profile/**
VM/logs/**
VM/@server/ReEngineLogs/log.txt
VM/config/config.vdf
VM/@server/Addons/mdl_loader.pbo
VM/mpmissions/__cur_mp.VR/src/ReBridge/rebridge_log.txt
VM/src
mdl_loader/CfgVehicles.hpp
app.spec
vinf_gen.txt
RBuilder.spec
